.o-card{
    
    width: 15em;   
    border-radius: 7%;  
    box-shadow: 0 10px 38px rgba(0,0,0,0.19), 0 36px 16px rgba(0,0,0,0.23);
}

.o-cardImage{
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}