body{
  background: url('../resources/imgs/gradient.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background: cover;
} 

.App {
  justify-content: center;
}

.o-barW{
  position: absolute;
  top: 285px;
  left: 0;
}

